.header {
    display: flex;
    flex-direction: column;
    background-color: #227B94;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 10px #16325B;
    border-style:dashed;
    
  }

.header h1{
    color: #ffffff;
    text-shadow: -2px -2px 0 #16325B, 2px -2px 0 #16325B, -2px 2px 0 #16325B, 2px 2px 0 #16325B;
}  
  
.header img {
    margin-top: 10px;
    background-color: #16325B;
    height: auto;
    width: auto;
    border: solid 2px ;
    border-radius: 10px;
  }

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #227B94;
    border: solid 10px #16325B;
    border-style:dashed;
}

.weather h3{
    color: #ffffff;
    text-shadow: -2px -2px 0 #16325B, 2px -2px 0 #16325B, -2px 2px 0 #16325B, 2px 2px 0 #16325B;
}

.weather p{
    color: #ffffff;
    font-size: 16px;
    text-shadow: -2px -2px 0 #16325B, 2px -2px 0 #16325B, -2px 2px 0 #16325B, 2px 2px 0 #16325B;
}

.weather button{
    min-width: fit-content;
    height: 40px;
    font-weight: bold;
    color: #16325B;
    cursor: url(../public/lightning.png), auto;
    border: solid 2px #16325B;
}

.weather button:hover{
    background-color: #16325B;
    color: #ffffff;
}

.weather img{
    margin-right: 5px;
}

